#index {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;

    .card {
        margin: 20px;
        flex-basis: 45%;
        background-color: goldenrod;
        border-radius: 15px;
        padding: 50px 10px;

        h3 {
            color: green;
        }
    }
}