* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: white;
}

.container {
    width: 85%;
    margin: 0 auto;
}