header {
    background-color: #1f1f1f;
    color: white;
    height: 75px;

    h1 {
        font-size: 45px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-header {
        display: flex;
        justify-content: center;

        li {
            display: inline-block;
            margin-left: 50px;

            a {
                text-decoration: none;
            }
        }
    }
}